<div>
  <p>Books</p>
  <button id="addBook">Add Book</button>
  <table id="books" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">

  $(document).ready(function () {

    $('#addBook').click(function () {
      var newBook = {
        Title: "title",
        Author: "author",
        Genre: "Computer",
        Price: 100,
        PublishDate: "03-01-2018",
        Description: "lorem ipsum"
      }

      $.ajax({
        type: "POST",
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify(newBook),
        url: '/api/books'
      }).done(function (data) {
        console.log(data);
        $('#books').DataTable().draw();
      }).fail(function (jqXHR, textStatus, err) {
        if (jqXHR && jqXHR.responseJSON) {
          console.log(jqXHR.responseJSON);
        }
        console.log(textStatus);
        console.log(err);
      });
    });

    $('#books').DataTable({
      "processing": true,
      "serverSide": true,
      //"ordering": false,
      "ajax": {
        "url": "/api/books/getall",
        "type": "POST",
        "contentType": "application/json",
        "data": function (d) {
          return JSON.stringify(d);
        }
      },
      "columns": [
        {
          "data": "Id",
          "render": function (data, type, full, meta) {
            //console.log(data); //id
            //console.log(type); //display
            //console.log(full); //the whole json
            //console.log(meta); //setting
            return data;
          }
        },
        { "data": "Title" },
        { "data": "Author" },
        { "data": "Genre" }
      ]
    });


  });

</script>